@font-face {
    font-family: "iconfont";
    /* Project id 3672189 */
    src: url('iconfont.woff2?t=1664168548761') format('woff2'), url('iconfont.woff?t=1664168548761') format('woff'), url('iconfont.ttf?t=1664168548761') format('truetype');
}


/* .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

[class^="star-icon"],
[class*=" star-icon"]
/*这里有空格*/

{
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.star-icon-shanchu:before {
    content: "\e6c9";
}

.star-icon-huifu1:before {
    content: "\e6ca";
}

.star-icon-yincang:before {
    content: "\e6cb";
}

.star-icon-richeng:before {
    content: "\e6cc";
}

.star-icon-tianjia1:before {
    content: "\e6cd";
}

.star-icon-leixing:before {
    content: "\e6ce";
}

.star-icon-sousuo:before {
    content: "\e6cf";
}

.star-icon-tupian:before {
    content: "\e6d0";
}

.star-icon-shijian:before {
    content: "\e6d1";
}

.star-icon-tianjia:before {
    content: "\e6d2";
}

.star-icon-fanhuide:before {
    content: "\e64d";
}

.star-icon-zaixianbianji:before {
    content: "\e64e";
}

.star-icon-yun:before {
    content: "\e64f";
}

.star-icon-gongdan:before {
    content: "\e650";
}

.star-icon-youxia:before {
    content: "\e651";
}

.star-icon-zuojiantou:before {
    content: "\e652";
}

.star-icon-youce:before {
    content: "\e653";
}

.star-icon-zuoce:before {
    content: "\e654";
}

.star-icon-youshang:before {
    content: "\e655";
}

.star-icon-zuoshang:before {
    content: "\e656";
}

.star-icon-zuo:before {
    content: "\e657";
}

.star-icon-you:before {
    content: "\e658";
}

.star-icon-wanglaiyonghu:before {
    content: "\e659";
}

.star-icon-xiangzuo:before {
    content: "\e65a";
}

.star-icon-fenxiang:before {
    content: "\e65b";
}

.star-icon-youjiantou:before {
    content: "\e65c";
}

.star-icon-tuichu:before {
    content: "\e65d";
}

.star-icon-dianpu:before {
    content: "\e65e";
}

.star-icon-yonghuwancheng:before {
    content: "\e65f";
}

.star-icon-xiangyou:before {
    content: "\e660";
}

.star-icon-quanbuhuifu:before {
    content: "\e661";
}

.star-icon-dianzan:before {
    content: "\e662";
}

.star-icon-gongsi:before {
    content: "\e663";
}

.star-icon-zuoxia:before {
    content: "\e664";
}

.star-icon-shalou:before {
    content: "\e665";
}

.star-icon-biaodanbianji:before {
    content: "\e666";
}

.star-icon-daiban:before {
    content: "\e667";
}

.star-icon-lajishanchu:before {
    content: "\e668";
}

.star-icon-fuzhi:before {
    content: "\e669";
}

.star-icon-diannao:before {
    content: "\e66a";
}

.star-icon-shouji:before {
    content: "\e66b";
}

.star-icon-anquandunpai:before {
    content: "\e66c";
}

.star-icon-yinpin:before {
    content: "\e66d";
}

.star-icon-chakan:before {
    content: "\e66e";
}

.star-icon-jinriyonghu:before {
    content: "\e66f";
}

.star-icon-fujian:before {
    content: "\e670";
}

.star-icon-huifu:before {
    content: "\e671";
}

.star-icon-duankai:before {
    content: "\e672";
}

.star-icon-shouye:before {
    content: "\e673";
}

.star-icon-gouwuche:before {
    content: "\e674";
}

.star-icon-yanliao:before {
    content: "\e675";
}

.star-icon-xiangmu:before {
    content: "\e676";
}

.star-icon-suoxiao:before {
    content: "\e677";
}

.star-icon-shengxu:before {
    content: "\e678";
}

.star-icon-jiangxu:before {
    content: "\e679";
}

.star-icon-kefu:before {
    content: "\e67a";
}

.star-icon-saoyisao:before {
    content: "\e67b";
}

.star-icon-richengwancheng:before {
    content: "\e67c";
}

.star-icon-liwu:before {
    content: "\e67d";
}

.star-icon-biaoqing:before {
    content: "\e67e";
}

.star-icon-guanji:before {
    content: "\e67f";
}

.star-icon-lianjie:before {
    content: "\e680";
}

.star-icon-yonghutouxiang:before {
    content: "\e681";
}

.star-icon-bofang:before {
    content: "\e682";
}

.star-icon-xiazai1:before {
    content: "\e683";
}

.star-icon-shuju:before {
    content: "\e684";
}

.star-icon-yunxiazai:before {
    content: "\e685";
}

.star-icon-shoujianxiang:before {
    content: "\e686";
}

.star-icon-jinzhi:before {
    content: "\e687";
}

.star-icon-fangda:before {
    content: "\e688";
}

.star-icon-quxiaozhiding:before {
    content: "\e689";
}

.star-icon-anzhuang:before {
    content: "\e68a";
}

.star-icon-yonghuxinxi:before {
    content: "\e68b";
}

.star-icon-wutongzhi:before {
    content: "\e68c";
}

.star-icon-yunshangchuan:before {
    content: "\e68d";
}

.star-icon-shounaxiang:before {
    content: "\e68e";
}

.star-icon-shubende:before {
    content: "\e68f";
}

.star-icon-weixian:before {
    content: "\e690";
}

.star-icon-shipin:before {
    content: "\e691";
}

.star-icon-xinxin:before {
    content: "\e692";
}

.star-icon-duanxin:before {
    content: "\e693";
}

.star-icon-yonghubianji:before {
    content: "\e694";
}

.star-icon-fensi:before {
    content: "\e695";
}

.star-icon-zanting:before {
    content: "\e696";
}

.star-icon-juhexinxi:before {
    content: "\e697";
}

.star-icon-biaodan:before {
    content: "\e698";
}

.star-icon-fenlei:before {
    content: "\e699";
}

.star-icon-xinxibianji:before {
    content: "\e69a";
}

.star-icon-fasong:before {
    content: "\e69b";
}

.star-icon-zhiding:before {
    content: "\e69c";
}

.star-icon-yinliang:before {
    content: "\e69d";
}

.star-icon-xiaoxi:before {
    content: "\e69e";
}

.star-icon-shangchuanwenjianjia:before {
    content: "\e69f";
}

.star-icon-yonghutianjia:before {
    content: "\e6a0";
}

.star-icon-paixu:before {
    content: "\e6a1";
}

.star-icon-xiangqing:before {
    content: "\e6a2";
}

.star-icon-gengduo:before {
    content: "\e6a3";
}

.star-icon-gantanhao:before {
    content: "\e6a4";
}

.star-icon-gongzuotai:before {
    content: "\e6a5";
}

.star-icon-wenhao:before {
    content: "\e6a6";
}

.star-icon-guanbi:before {
    content: "\e6a7";
}

.star-icon-bianji:before {
    content: "\e6a8";
}

.star-icon-duigou:before {
    content: "\e6a9";
}

.star-icon-xinxi:before {
    content: "\e6aa";
}

.star-icon-jianqu:before {
    content: "\e6ab";
}

.star-icon-dianhua:before {
    content: "\e6ac";
}

.star-icon-leibie:before {
    content: "\e6ad";
}

.star-icon-yidu:before {
    content: "\e6ae";
}

.star-icon-lie:before {
    content: "\e6af";
}

.star-icon-yulan:before {
    content: "\e6b0";
}

.star-icon-biaoqian:before {
    content: "\e6b1";
}

.star-icon-fenceng:before {
    content: "\e6b2";
}

.star-icon-xiazai:before {
    content: "\e6b3";
}

.star-icon-youxiang:before {
    content: "\e6b4";
}

.star-icon-liebiao:before {
    content: "\e6b5";
}

.star-icon-ditu:before {
    content: "\e6b6";
}

.star-icon-tongzhi:before {
    content: "\e6b7";
}

.star-icon-tuozhuai:before {
    content: "\e6b8";
}

.star-icon-shuaxin:before {
    content: "\e6b9";
}

.star-icon-yanjing:before {
    content: "\e6ba";
}

.star-icon-shezhi:before {
    content: "\e6bb";
}

.star-icon-wenjian:before {
    content: "\e6bc";
}

.star-icon-xingxing:before {
    content: "\e6bd";
}

.star-icon-daoru:before {
    content: "\e6be";
}

.star-icon-daochu:before {
    content: "\e6bf";
}

.star-icon-bangong:before {
    content: "\e6c0";
}

.star-icon-zhuanfa:before {
    content: "\e6c1";
}

.star-icon-duogeyonghu:before {
    content: "\e6c2";
}

.star-icon-shuben:before {
    content: "\e6c3";
}

.star-icon-xiangji:before {
    content: "\e6c4";
}

.star-icon-shaixuan:before {
    content: "\e6c5";
}

.star-icon-fanhui:before {
    content: "\e6c6";
}

.star-icon-zhuanfa1:before {
    content: "\e6c7";
}

.star-icon-suo:before {
    content: "\e6c8";
}